body {
    background-color: black;
}
h3 {
    color: white;
}
input {
    background-color: black;
    border-color: white;
    color: white;
}
.container-left {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-right {
    
    display: grid;
    align-items: center;
    justify-content: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}
textarea {
    background-color: black;
    border-color: white;
    color: white;
}

